{% extends 'base.html' %}
{% block content %}
<h1>Сотрудники НМИЦ гематологии</h1>    
        {% for department in departments %}
        <div><h3>{{ department }}</h3></div>
        {% for worker in workers %}
<table style="width:80%; height:0px;">
        {% if worker['department'] == department %}
        <TR>
        <td><a class="name" href="/profile/{{ worker.id }}">{{ worker.name}}</a></td>
                <td>{% for position in worker['position'] %}
                                <li>{{ position }}</li>
                {% endfor %}</td>
                <td>{% for phone in worker['phone'] %}
                        <li>{{ phone }}</li>
                {% endfor %}</td>
        <td><li><a href="mailto:{{ worker.email }}">{{ worker['email']}}</a></li></td>
        {% endif %}
        </TR>   
        </table>
        {% endfor %}
        {% endfor %}
{% endblock %}